<?xml version="1.0" encoding="UTF-8"?>
<!--This does not replace URDF, and is not an extension of URDF.
    This is a format for representing semantic information about the robot structure.
    A URDF file must exist for this robot as well, where the joints and the links that are referenced are defined
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
    <xacro:arg name="arm_id" default="panda" />

    <xacro:include filename="$(find panda_moveit_config)/config/arm.xacro" />
    <!-- panda_arm group: eef frame aligned to robot's flanche -->
    <xacro:arm name="$(arg arm_id)_arm" tip_link="$(arg arm_id)_link8"/>

    <!--Add the hand if people request it-->
    <xacro:arg name="hand" default="false" />
    <xacro:if value="$(arg hand)">
        <!-- manipulator group: eef frame aligned to hand -->
        <xacro:arm name="$(arg arm_id)_manipulator" tip_link="$(arg arm_id)_hand_tcp" />
        <xacro:include filename="$(find panda_moveit_config)/config/hand.xacro" />
        <xacro:hand />

        <!--END EFFECTOR: Purpose: Represent information about an end effector.-->
        <end_effector name="$(arg arm_id)_hand_tcp" parent_link="$(arg arm_id)_hand_tcp" group="$(arg arm_id)_hand" parent_group="$(arg arm_id)_manipulator" />
        <!-- old end-effector -->
        <end_effector name="$(arg arm_id)_hand" parent_link="$(arg arm_id)_link8" group="$(arg arm_id)_hand" parent_group="$(arg arm_id)_arm" />
    </xacro:if>

</robot>
