<launch>

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />
  <!-- Allow user to specify database location -->
  <arg name="db_path" default="$(find panda_moveit_config)/default_warehouse_mongo_db" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- By default we will load the gripper -->
  <arg name="load_gripper" default="true" />

  <!-- Gazebo specific options -->
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>

  <!-- launch the gazebo simulator and spawn the robot -->
  <include file="$(find franka_gazebo)/launch/panda.launch">
    <arg name="headless" value="$(eval not arg('gazebo_gui'))" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_gripper" default="$(arg load_gripper)"/>
    <arg name="transmission" value="hardware_interface/PositionJointInterface"/>
  </include>

  <group ns="panda">
    <!-- Load position_joint_trajectory_controller -->
    <include file="$(dirname)/ros_controllers.launch" />

    <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
    <include file="$(dirname)/move_group.launch">
      <arg name="info" value="true" />
      <arg name="debug" value="$(arg debug)" />
      <arg name="allow_trajectory_execution" value="true" />
      <arg name="load_gripper" value="$(arg load_gripper)" />
      <!-- robot description is loaded by franka_gazebo/panda.launch, to enable Gazebo features -->
      <arg name="load_robot_description" value="false" />
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(dirname)/moveit_rviz.launch">
      <arg name="rviz_config" value="$(dirname)/moveit.rviz" />
      <arg name="debug" value="$(arg debug)" />
    </include>
  </group>

  <!-- If database loading was enabled, start mongodb as well -->
  <include file="$(dirname)/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

</launch>
