<launch>

  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <arg name="moveit_use_bio_ik" default="false" />

  <!-- In case we wish to pass custom command-line args to rviz, put these in the rviz_command_args argument -->
  <!-- If command_args is empty, standard behaviour -->
  <arg name="rviz_command_args" default="''" />
  <arg name="rviz_tutorial" default="false" />

  <group if="$(eval rviz_command_args == '')">
    <arg unless="$(arg rviz_tutorial)" name="command_args" value="-d $(find panda_moveit_config)/launch/moveit.rviz" />
    <arg     if="$(arg rviz_tutorial)" name="command_args" value="-d $(find panda_moveit_config)/launch/moveit_empty.rviz" />
    <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	    args="$(arg command_args)" output="screen">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml" unless="$(arg moveit_use_bio_ik)"/>
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics_bio_ik.yaml" if="$(arg moveit_use_bio_ik)"/>
    </node>
  </group>

  <group unless="$(eval rviz_command_args == '')">
    <arg name="command_args" value="$(arg rviz_command_args)" />
    <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	    args="$(arg command_args)" output="screen">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml" unless="$(arg moveit_use_bio_ik)"/>
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics_bio_ik.yaml" if="$(arg moveit_use_bio_ik)"/>
    </node>
  </group>

  <!-- <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	args="$(arg command_args)" output="screen">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>
  </node> -->

</launch>
