<?xml version="1.0" ?>
<launch>
  <!-- If needed, broadcast static tf for robot root -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world panda_link0" />

  <!-- Broadcast a static tf transform for hand-eye calibration -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_2" args="0.0512008 -0.0094141 0.0417049 0.7170629534293602 -0.025008923209280443 0.6965198428440764 0.007441982500551558 /panda_hand /camera_link" /> -->

  <arg name="launch_rviz" default="false" />
  <arg name="rviz_command_args" default="" />

  <include file="$(find panda_moveit_config)/launch/move_group_sim.launch"/>

  <!-- <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" if="$(arg launch_rviz)" > -->
    <!-- <arg name="rviz_command_args" value="$(arg rviz_command_args)" /> -->
  <!-- </include> -->
</launch>
