<?xml version="1.0" ?>
<launch>
  <!-- If needed, broadcast static tf for robot root -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_1" args="0 0 0 0 0 0 world panda_link0" />

  <!-- Broadcast a static tf transform for hand-eye calibration -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_2" args="0.0512008 -0.0094141 0.0417049 0.7170629534293602 -0.025008923209280443 0.6965198428440764 0.007441982500551558 /panda_hand /camera_link" />

  <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />
  <arg name="launch_rviz" default="true" />
  <arg name="rviz_command_args" default="" />
  <arg name="moveit_use_bio_ik" default="false" />

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find panda_moveit_config)/launch/panda_moveit.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="moveit_use_bio_ik" value="$(arg moveit_use_bio_ik)" />
  </include>

  <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" if="$(arg launch_rviz)" >
    <arg name="rviz_command_args" value="$(arg rviz_command_args)" />
    <arg name="moveit_use_bio_ik" value="$(arg moveit_use_bio_ik)" />
  </include>
</launch>
